  <!-- delete_employee -->
  <div class="delete_btn_form" id="delete_employee">
    <div class="contanier">

        <div class="col-md-6 rounded-4">

            <div class="delete_form_action">
                <div class="employee_form_heading">
                    <h3 class="heading my-3">Delete Employee</h3>
                    <button class="close_btn" onclick="delete_close_btn()"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                <p>Are you sure you want to delete this employee?</p>
                <div class="delete_employee_btn">
                    <button class="btn_action delete_close_btn" onclick="delete_close_btn()">Cancel</button>

                    <button class="btn_action delete_action_btn" id="delete_btn_action">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>
