 <!-- employee-delete-popup-message -->
 <div class="employee_delete_pop" id="employee_delete">
    <div class="contanier">

        <div id="employeePopup" class="popup">
            <div class="popup_content deleted">
                <h2>Employee Deleted</h2>
                <h6>Employee has been successfully deleted!</h6>
                
                <button class="close_ok_btn" onclick="PopupDeleteclose()">Okay</button>
            </div>
        </div>
    
    </div>
</div>

<div class="overlay"></div>