<!-- employee-edited-popup message -->
<div class="employee_edited_pop" id="employee_edited">
    <div class="contanier">

        <div id="employeePopup" class="popup">
            <div class="popup_content Edited">
                <h2>Employee Updated</h2>
                <h6>Employee has been successfully Updated!</h6>
                
                <button class="close_ok_btn" onclick="PopupEditedclose()">Okay</button>
            </div>
        </div>
    
    </div>
</div>

<div class="overlay"></div>