 <!-- side_section- start--> 

<div class="side_section">
    <div class="side_bar_heading">
        <h1>Employee </h1>
        <h3>Management</h3>
    </div>
    <div class="side_bar_list">
        <ul>
            <li><i class="fa-solid fa-house"><a href="#">Dashboard</a></i></li>
            <li><i class="fa-solid fa-chart-simple"><a href="/">Employees</i></li></a>
            <li><i class="fa-solid fa-user"><a href="#">My Profile</a></i></li>
           
                <form action="/api/users/logout" method="get">
                    <button class="logoutbtn" type="submit"><i class="fa-solid fa-lock"></i>Logout</button>
                </form>
        </ul>
    </div>
    <div class="powered_by">
        <p>Powered by</p>
        <img src="/public/img/image 1stackup_logo.png" alt="">
        
    </div>
</div>
<!-- side_section- end--> 